<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!-- 日志存放路径 -->
    <property name="log.path" value="F:\一些图片"/>
    <!-- 日志输出格式 -->
    <property name="log.pattern"
              value="%boldCyan(%d{yyyy-MM-dd HH:mm:ss.SSS}) %blue([%thread]) %boldRed([%5p]) %magenta(%logger{20}) - %yellow([%2method,%2line]) : %msg%n"/>

    <property name="log.name" value="logback"></property>

    <!-- 文件切割大小 -->
    <property name="maxFileSize" value="100MB"/>
    <!-- 文档保留天数 -->
    <property name="maxHistory" value="30"/>
    <!-- 文档保留总大小 -->
    <property name="totalSizeCap" value="10GB"/>


    <!-- 控制台输出 -->
    <appender name="console_log" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                ${log.pattern}
            </pattern>
        </encoder>
    </appender>

    <logger name="com.ch.netty" level="debug">
        <appender-ref ref="console_log"/>
    </logger>
    <!--netty学习调试配置-->
    <logger name="io.netty.handler.logging.LoggingHandler" level="DEBUG" additivity="false">
        <appender-ref ref="console_log"/>
    </logger>

    <logger name="org.springframework.web.servlet" level="info"/>
</configuration>
